<h1>companies</h1>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Ticker Symbol</th>
    <th>Risk Factor</th>
    <th>Actions</th>
  </tr>
</thead>
  <tbody>
    <% @compnies.each do |c|%>
       <tr>
          <td><%=c.name %></td>
          <td><%=c.ticker_symbol %></td>
          <td><%=c.risk_factor %></td>
          <td><a href="/compnies/<%=c.id%>">Show</a></td>

       </tr>
    <%end%>
  </tbody>
</table>